html, body, #root {
  height: 100%; /* Make them take up full viewport height */
  width: 100%;  /* Make them take up full viewport width */
  margin: 0;    /* Remove default browser margins */
  padding: 0;   /* Remove default browser paddings */
  overflow: hidden;  
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex; /* Make body a flex container */
  justify-content: center; /* Center children horizontally */
  align-items: center;   /* Center children vertically */
  background-image: url("./Images/background.jpg");
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

